body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
section{
    padding: 70px 0;
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}
h3 {
    font-size: 35px;
    color: #676767;
    font-weight: 700;
}
h5{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
h6{
    font-size: 24px;
    margin: 0;
}
p {
    font-size: 18px;
    font-weight: 400;
    color: #18191F;
}
.highlight-color{
    color: #1E42FF;
}
.display-items{
    display: flex;
}
.half-width {
    width: 40%;
    padding-left: 9%;
    padding-right: 8%;
    margin: auto;
}
.padding-right-9{
   padding-right: 9%;
}
.half-width-two{
    width: 50%;
}
img{
    width: 100%;
}
.shadow{
      box-shadow: 5px 5px 30px #000;
}
.main-button {
    text-decoration: none;
    background: linear-gradient(45deg, #3ec9ff, #1e45b3);
    padding: 20px 40px;
    border-radius: 49px;
    color: white;
    display: inline-block;
    margin-top: 25px;
    border: none;
}
.about-area{
    background-image: url(images/Frame-57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
}
.recipies-area{
    padding-left: 9%;
    padding-right: 9%;
}
.section-title{
    text-align: center;
    width: 50%;
    margin: 0 auto 50px;
}
.recipies-single-box{
    padding: 15px 15px 30px;
    border-radius: 20px;
}
.recipies-single-box h4{
    font-size: 28px;
    color: #18191F;
}
.on-third-width{
    width: 33%;
    margin: auto;
}
.margin-left-5{
    margin-left: 5%;
}
.margin-left-9{
    margin-left: 9%;
}
.margin-right-9{
    margin-right: 9%;
}
.status-area{
    padding-left: 9%;
    padding-right: 9%;
}
.status-area-box{
    border-radius: 20px;
    padding: 50px 0;
    box-shadow: 5px 5px 30px #000;
}
.status-area-box p{
    font-size: 16px;
    color: #18191F;
}
.blog-area{
    background: url(images/Frame\ 56.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 9%;
    padding-right: 9%;
}
.blog-content {
    padding: 25px 30px;
    margin: 0 20px;
    background: #fff;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 5px 5px 30px #000;
    border-right: 9px solid;
    border-image: linear-gradient(45deg, #3ec9ff, #1e45b3) 30;
    border-image-slice: 1;
}
.blog-text{
    padding-left: 20px;
}
form label{
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}
form input{
    padding: 10px;
    width: 85%;
    border: 2px solid #4c4cff;
    border-radius: 5px;
    box-shadow: 0 0 10px #719ECE;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea{
    padding: 10px;
    width: 85%;
    border: 2px solid #4c4cff;
    border-radius: 5px;
    box-shadow: 0 0 10px #719ECE; 
}
textarea:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE; 
}
form .register-btn{
    display: block;
}
.information {
    padding: 43px 15px;
    background: #fff;
    box-shadow: 1px 15px 39px #948e8e;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 17px;
    width: 100%;
    border-bottom: 9px solid;
    border-image: linear-gradient(45deg, #3ec9ff, #1e45b3) 30;
    border-image-slice: 1;
}
.information h6{
    font-size: 15px;
    font-weight: 600;
    color: #1E42FF;
}
.information P{
    font-size: 15px;
}
.information ul {
    padding-left: 0;
}
.information li {
    list-style: none;
    margin-bottom: 10px;
}
.information li a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}
footer{
    background-color: #18191F;
    text-align: center;
    padding: 30px 0 40px;
}
footer h6{
    font-size: 30px;
    color: #ebebeb;
}
footer p{
    color: #fff;
}