body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
section{
    padding: 70px 0;
}
h1{
    font-size: 55px;
    font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}
p {
    font-size: 18px;
    font-weight: 400;
    color: #18191F;
}
.highlight-color{
    color: #1E42FF;
}
.display-items{
    display: flex;
}
.half-width {
    width: 40%;
    padding-left: 9%;
    padding-right: 8%;
    margin: auto;
}
img{
    width: 100%;
}
.main-button {
    text-decoration: none;
    background: linear-gradient(45deg, #3ec9ff, #1e45b3);
    padding: 20px 40px;
    border-radius: 49px;
    color: white;
    display: inline-block;
    margin-top: 25px;
}
.about-section{
    background-image: url(images/Frame-57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
}
.on-third-width{
    width: 33%;
    padding-left: 9%;
    padding-right: 8%;
    margin: auto;
}